<!DOCTYPE html>
<html>
<head>
  <title>The Democratic Charts | Music for the People </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
   body { background: #66C0CF !important;
   		  background: -webkit-linear-gradient(#66C0CF, #a3d9e2) !important;
   		  background: -o-linear-gradient(#66C0CF, #a3d9e2) !important;
   		  background: -moz-linear-gradient(#66C0CF, #a3d9e2) !important;
   		  background: linear-gradient(#66C0CF, #a3d9e2) !important; }
	</style>
</head>
<body>

	<header class="navbar navbar-default" role="navigation" style="background-color:#fdfdfd">
      <div class="container">
      	<div class="nav navbar-nav navbar-left">
      		<a href="<%= root_path %>">
      		<div class="home" style="margin: 2px 30px 0 0; float:left"><%= image_tag("/logo.png", size: "55x55") %></div>
        	<div id="msg">Music for the people, chosen by the people</div>
        	</a>
        </div>
        <% if user_signed_in? -%>
        	<span class="navbar-right" style="margin:15px 5px"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: "btn btn-default" %></span>
			<span class="navbar-right" style="margin:15px 5px"><%= link_to 'Account', edit_user_registration_path, class: "btn btn-default" %></span>
			<span class="navbar-right" style="margin:15px 5px;"><%= link_to 'Nominate A Song', new_song_path, class: "btn btn-info" %></span>
		<% else -%>
      <span class="navbar-right" style="margin:15px 5px"><%= link_to 'About Us', about_path, class: "btn btn-default" %></span>
			<span class="navbar-right" style="margin:15px 5px"><%= link_to 'Join Our Democracy', new_user_registration_path, class: "btn btn-info" %></span>
			<span class="navbar-right" style="margin:15px 5px"><%= link_to 'Sign In', new_user_session_path, class: "btn btn-info" %></span>
		<% end -%>
      </div>
    </header>

	<div id="main_content" class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
	   <% end %>

			<div id="content" class="col-md-9 center-block" style="padding:20px">
				<%= yield %>
			</div>
		</div>
	</div>

</body>
</html>
